{% extends 'page.twig' %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
        <h1 class="cntr">About This Site</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-9 mr-auto">
            <p class="cntr">This website has been created to help young children with developmental speech and language difficulties with 
            developing their skills to be more inline with the average level of children the same age so that they can have the same 
            opportunities and not be left out in day to day life.</p>
            <p class="cntr">Children with speech and language difficulties tend to be normal children with just as much potential as any other
            child of their age, they are simply having trouble developing their communication skills at the same pace or clarity than others.
            This is not always a reflection on the child as in individual and should never be seen as a fault with that child but more like a 
            difficulty they have encountered that they need encouragement and help to overcome. This is why speech and language therapy is very
            important. It can help give these children with developmental speech and language difficulties the opportunities they may otherwise
            miss out on if they did not get the help they need. This is why I have created this website. Not only to help alongside therapy but 
            also to help parents help their children and to help get them up to speed on what the problem is and the importance of working 
            through it in the correct way. Just remember, these children are exactly the same as you, they just need that extra push.</p>
            <p class="cntr">Background image by zcool.com.cn</p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
