{% extends 'page.twig' %}

{% block scripts %}
    <script src="{{fwurls.parsley}}"></script>
{% endblock scripts %}

{% block header %}
    <section class="col-md-12">
	<h1 class="cntr">Contact</h1>
    </section>
{% endblock header %}

{% block onload %}
    $('#cform').parsley()
{% endblock onload %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <p class="cntr">To contact the admin of this website please email "M.Forbes1@ncl.ac.uk".</p>
            <p class="cntr">Please include a subject to explain what your email is about and to speed up the response.</p>
            <p class="cntr">Please also allow five working days for a response before sending another email.</p>
            <p class="cntr">We appreciate your wait and your contribution to this site.</p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}