{% extends 'page.twig' %}

{% block onload %}
    {% if not context.hasuser %}
        $('#tasks').on('click', function(){
            bootbox.alert('Please Log In')
        })
    {% endif %}
{% endblock onload %}

{% block header %}
    <section class="col-md-12">
        <h1 class="cntr">Home</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="col-md-8" id="homebox">
            <div class="jumbotron" id="homeboxtext">
                <p>From here you can navigate to different areas of the website using the buttons below or the navigation bar at the top of the 
                page.</p><br />
                <p>Currently you will need to contact your speech therapist or the website admin to create an account for you while this site is being perfected.</p>
                {% if context.hasuser %}
                    <a href="{{base}}/tasks"> {# Allows the 'Please Log In' text box to pop up without diverting to the tasks page when there is no user logged in #}
                {% endif %}
                <button id="tasks" class="btn btn-large btn-info" type="button">Tasks</button></a>
                <a href="{{base}}/about"><button id="about" class="btn btn-large btn-info" type="button">About</button></a>
                <a href="{{base}}/contact"><button id="contact" class="btn btn-large btn-info" type="button">Contact</button></a>
                {% if not context.hasuser %}
                    <a href="{{base}}/login"><button id="login" class="btn btn-large btn-info" type="button">Login</button></a>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock main %}

{% block footer %}
{% endblock footer %}
