{% extends 'page.twig' %}

{% block header %}
    <article class="col-md-12">
        <h1 class="cntr">Task 5 Complete</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <p>Well done! You have completed task 5. You have achieved (code in an amount here) out of ....</p>
        </article>
    </section>
{% endblock main %}

{% block footer %}
{% endblock footer %}